/* header menu */

:root {
    --background: rgba(164, 215, 217);
  }
  
  *, *::before, *::after {
  box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Lato', Bold;
    font-weight: 400;
  }
  
  header {
    background: var(--background);
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    margin: 0;
  }
  
  .nav-toggle {
    display: none;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    /*display: none;*/ /*use this for the first half of demo. Comment out for tranform section*/
    
    /*this section to animate navigation*/
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-out; /*transition duration ease in or out delay*/
  }
  
  nav a:hover {
    color: white;
  }
  
  .nav-toggle:checked ~ nav {
    /*display: block;*/ /*use this for the first half of demo. Comment out for tranform section*/
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-out 300ms;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: "";
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
    
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
      grid-column: 2 / 3;
    }
    
    nav {
      all: unset;
      grid-column: 3 / 4;
      
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      
      position: relative; /*put this in when you add the bar at top*/
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: black;
      position: absolute;
      top: -.5em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      /*transform-origin: left;*/
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1, 1);
    }
  }
  
  .header-list {
    font-family: 'Lato', sans-serif;
  }
  
  .header-logo {
    font-family: 'Grandstander', cursive;
    font-size: 39px;
    grid-column: 2 / 3;
    margin-right: 50px;
    margin-bottom: 0;
  }

.background {
    background: #455F97;
}

  /* Adopt Section */

.adopt {
    height: 40vh;
    width: 70vw;
  }
  
  .h1-adopt {
    font-family: 'lato' bold;
    color: #ffffff;
    padding-top: 45px;

    text-decoration: underline ;
    text-decoration-color: #E8C874;
    font-size: 45px;

    position: relative;
    left: 350px;
    text-align: center;
  }
  
  .p-adopt {
    color: #ffffff;
    font-family: 'Rubik' Medium;
    position: relative;
    left: 350px;
    text-align: center;
    font-size: 1.3em;
  }

  /* Line */

  .line {
    width: 100vw;
  }
  
/* Filter */

.filter-text {
  position: absolute;
  top: 9.65em;
  left: 13.45em;
}

/* DropDown */

/* The container must be positioned relative: */
.custom-select-1 {
  position: absolute;
  font-family: 'Rubik' Medium;
  left: 45em;
  top: 23em;
}

.custom-select-1 select {
  display: none; /*hide original SELECT element: */
}
.custom-select-2 {
  position: absolute;
  font-family: 'Rubik' Medium;
  left: 56.60em;
  top: 23em;
}

.custom-select-2 select {
  display: none; /*hide original SELECT element: */
}
.custom-select-3 {
  position: absolute;
  font-family: 'Rubik' Medium;
  left: 68.30em;
  top: 23em;
}

.custom-select-3 select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
  border-radius:13px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
  
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius:13px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}







  