/* ------- [ Typography ] ------- */
/* Based on Perfect Fourth at type-scale.com */


h1, h2, h3, h4, h5, h6 { 
	font-family: 'Lato', bold;
	font-weight: 100;
	margin: 0 0 20px 0; 
	line-height: 1.2;
	color: white; 
}

h1 {
	margin-top: 0;
	font-size: 3.157em;
}
h2 {
  	font-size: 2.369em;
	line-height: 1.1;
}
h3 {
	font-size: 1.777em;
}
h4 {
	font-size: 1.333em;
	font-weight: 900;
	
}
h5 {
	font-size: 1em;
	font-weight: 900;
}
h6 {
	font-size: 1em;
	font-weight: 900;
}

h2 {
  text-decoration: underline ;
  text-decoration-color: #E8C874;
}

.small-text {
	font-size: 0.75em;
}
.large-text {
	font-size: 1.2em;
}

/* -------- [ Site Links ] -------- */
a:link {
	color: #000000;
	text-decoration: underline;
	outline: 0;
}
a:visited {
	color: #000000;
	text-decoration: none;
	outline: 0;
}
a:hover {
	color: #56627A;
	text-decoration: underline;
}
a:active {
	color: #56627A;
}
.more {
	font-size: 0.9em;
	text-transform: uppercase;
}
.more a:link {
	text-decoration: none;
}
.more a:hover {
	text-decoration: none;
}

/* ------- [ Simple Grid ] ------- */

/* 2 Columns */
.columns_2 {
  width: 460px;
  float: left;
  margin-right: 20px;
}
.columns_2:last-of-type {
  margin-right: 0;
}

/* 3 Columns */
.columns_3 {
  width: 300px;
  float: left;
  margin-right: 20px;  
}
.columns_3:last-of-type {
  margin-right: 0;
}

/* 4 Columns */
.columns_4 {
  width: 220px;
  float: left;
  margin-right: 20px;
}
.columns_4:last-of-type {
  margin-right: 0;
}

/* 6 Columns */
.columns_6 {
  width: 140px;
  float: left;
  margin-right: 20px;
}
.columns_6:last-of-type {
  margin-right: 0;
}

/* 12 Columns */
.columns_6 {
  width: 60px;
  float: left;
  margin-right: 20px;
}
.columns_12:last-of-type {
  margin-right: 0;
}

/* Slideshow */
h1 {
	color: black;
}