/* header menu */

:root {
  --background: rgba(164, 215, 217);
}

*, *::before, *::after {
box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', Bold;
  font-weight: 400;
}

header {
  background: var(--background);
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  margin: 0;
}

.nav-toggle {
  display: none;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  /*display: none;*/ /*use this for the first half of demo. Comment out for tranform section*/
  
  /*this section to animate navigation*/
  transform: scale(1,0);
  transform-origin: top;
  transition: transform 400ms ease-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-out; /*transition duration ease in or out delay*/
}

nav a:hover {
  color: white;
}

.nav-toggle:checked ~ nav {
  /*display: block;*/ /*use this for the first half of demo. Comment out for tranform section*/
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-out 300ms;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 2 / 3;
  }
  
  nav {
    all: unset;
    grid-column: 3 / 4;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    
    position: relative; /*put this in when you add the bar at top*/
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    /*transform-origin: left;*/
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1, 1);
  }
}

.header-list {
  font-family: 'Lato', sans-serif;
}

.header-logo {
  font-family: 'Grandstander', cursive;
  font-size: 39px;
  grid-column: 2 / 3;
  margin-right: 50px;
  margin-bottom: 0;
}

/* Slideshow things */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.slider {
    position: relative;
    overflow: hidden;
    height: 90vh;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
}

/* text of the slide */
.slide .content {
    position: absolute;
    bottom: 70px;
    left: -600px; /* set this to 0 so you can see the content, then change to the negative of the width */
    width: 600px;
    opacity: 0px; /* set this after you style the content */
    background: rgba(255,255,255,.8);
    color: #333;
    padding: 35px;
}

.slide .content h1 {
    margin-bottom: 10px;
}

.slide.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#next {
    position: absolute;
    top: 50%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 15px;
}

.buttons button {
    border: 2px solid #333;
    background: transparent;
    color: #333;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background: rgba(255,255,255,.8);
    color: #333;
}

/* Background Images */
.slide:first-child {
    background-image: url("../images/Golden-dog.jpg");
  background-size: cover;
}

.slide:nth-child(2) {
    background-image: url("../images/Black-dog.jpg");
    background-size: cover;
}

.slide:nth-child(3) {
    background-image: url("../images/hero-image-slideshow2.jpg");
  background-size: cover;
}


/* About Section */

.about {
    padding-top: 50px;
    background-color: #455F97 ;
    text-align: center;
    color: #fff;
    padding-bottom: 50px;
}

.about-text {
  font-family: 'Rubik', sans-serif;
}

.about-underline {
  text-decoration: underline ;
  text-decoration-color: #E8C874;
  font-size: 45px;
}

/* Adopt Section */

.adopt {
  background: url(../images/adopt-a-pet-panel.jpg);
  background-size: cover;
  height: 60vh;
  position: relative;
}

.adopt-text {
  position: absolute;
  top: 20vh;
  left: 0;
  width: 45%;
  padding: 10px;
  background: rgba(255,255,255,.4);
}

.adopt-button {
  border-radius: 25px;
  width: 140px;
  background-color: #E66351;
  border: 2px solid #E66351;
  padding: 7px 17px;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 15px;
}

.adopt-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.adopt-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.adopt-button:hover span {
  padding-right: 20px;
}

.adopt-button:hover span:after {
  opacity: 1;
  right: 0;
}

.h1-adopt {
  font-family: 'lato' bold;
  color: #E66351;
}

.p-adopt {
  color: #E66351;
  font-family: 'Rubik' Medium;
}

/* More-Info Donate Section */

.donate-info-content {
  background: #96CAE6;
  width: 40%;
  padding: 15px;
  padding-bottom: 40px;
}

.h1-donate-info{
  color: #5B77B4;
  font-family: 'lato' bold;
  font-size: 40px;
  padding-top: 30px;
}

.p-donate-info {
  color: #5B77B4;
  font-family: 'Rubik' Medium;
  font-size: 15px;
}

.donate-button {
  border-radius: 25px;
  width: 140.6px;
  background-color: #455F97;
  border: 2px solid #455F97;
  padding: 7px 17px;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 30px;
}

.donate-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.donate-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.donate-button:hover span {
  padding-right: 20px;
}

.donate-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* More-Info Section */

.more-info {
  background-color: #455F97 ;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.more-info-content {
  background: #96CAE6;
  width: 40%;
  padding: 15px;
  padding-bottom: 40px;
}

.h1-more-info{
  color: #5B77B4;
  font-family: 'lato' bold;
  font-size: 40px;
  padding-top: 30px;
}

.p-more-info {
  color: #5B77B4;
  font-family: 'Rubik' Medium;
  font-size: 15px;
}

.more-info-button {
  border-radius: 25px;
  width: 159px;
  background-color: #455F97;
  border: 2px solid #455F97;
  padding: 7px 17px;
  font-size: 15px;
  color: #fff;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 30px;
}

.more-info-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.more-info-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.more-info-button:hover span {
  padding-right: 20px;
}

.more-info-button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Footer Section */

*{
	padding:0;
	margin:0;
}

html{
	background-color: #eaf0f2;
}

body{
	font:16px/1.6 Arial,  sans-serif;
}


/* The footer is fixed to the bottom of the page */



@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color:#5B77B4;
	box-sizing: border-box;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer list */

.footer-list {
    color: #ffffff;
    list-style-type: none;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
}

.footer-list-space {
    margin-bottom: 10px;
}

.footer-list-space2 {
    margin-bottom: 13px;
    font-size: 15px;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #455f97;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
    line-height: 35px;
    position: relative;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-disclaimer {
    color: #ffffff;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}


/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}